.treeview-container, .row-item{
  margin-left: 15% !important;
}
// For Table Scrolling
.table-text{
  overflow: auto;
}
.row-item{
  margin-left: 5px!important;
}
.mat-icon-button{
  width: 5% !important;
}
.roleDropdown{
  width: 50%;
}