<div *ngIf="spinner; loaded">
    <div id="overlay">
        <div id="preloader">
            <div id="loader"></div>
        </div>
    </div>
</div>

<!--First Row-->
<mat-card class="mat-card-permission">
    <mat-card-header>
        <h3 class="card-header-left">Permission</h3>
        <div class="card-header-right">
            <button mat-flat-button color="primary" (click)="savePermission()"><mat-icon>save</mat-icon>Save</button>
        </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-form-field class="roleDropdown">
            <mat-label>Select Role</mat-label>
            <mat-select [(ngModel)]="currRoleId" (ngModelChange)="getAllPermissionList(currRoleId)">
                <mat-option *ngFor="let role of listRole" [value]="role.id">{{ role.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <mat-tree [dataSource]="items" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    <mat-checkbox [checked]="checklistSelection.isSelected(node)"
                                  [ngModel]="node.item.checked"
                                  (change)="onChangePermission($event, node.item.value, node)"
                    >
                        {{node.item.text}}
                    </mat-checkbox>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.item.text">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <mat-checkbox [checked]="descendantsAllSelected(node)"
                                  [indeterminate]="descendantsPartiallySelected(node)"
                                  [ngModel]="node.item.checked"
                                  (change)="onParentChangePermission($event, node.item.children, node)"
                    >
                        {{node.item.text}}
                    </mat-checkbox>
                </mat-tree-node>
            </mat-tree>
        </div>
    </mat-card-content>
</mat-card>

<!--Second Row-->
<mat-card #loaded>
    <mat-card-header>
        <h3 class="card-header-left">List Role</h3>
        <!-- Search & Filter Button-->
        <div class="card-header-right">
            <div>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
            </div>
        </div>
        <div class="card-header-right">
            <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" matTooltip="Display Columns">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <mat-selection-list name="displayedColumns" #displayedColum [(ngModel)]="displayedColumns" (ngModelChange)="removeColumn($event)">
                    <mat-list-option *ngFor="let displayCol of filterColumns" [(value)]="displayCol"  selected (click)="$event.stopPropagation()">
                        {{displayCol | uppercase}}
                    </mat-list-option>
                </mat-selection-list>
            </mat-menu>
        </div>
        <div class="card-header-right"><a class="addNewButton"><button mat-flat-button color="primary" (click)="addNewRole(addRole)"><mat-icon>add</mat-icon>Add New Role</button></a></div>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="materialTable">
        <div class="table-text mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort *ngIf="!noRecords">

                <!-- Sr No Column -->
                <ng-container matColumnDef="Sr_No">
                    <th mat-header-cell *matHeaderCellDef> Sr No </th>
                    <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1 }} </td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Title </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>


                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Status </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button class="buttonActive" *ngIf="row.status == 'Active' ">{{ row.status }}</button>
                        <button mat-icon-button class="buttonInactive" *ngIf="row.status == 'Inactive' ">{{ row.status }}</button>
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-button color="warn" matTooltip="Edit" (click)="openEditRole(editTemplate, row)"><mat-icon>edit</mat-icon></button>
                        <mat-slide-toggle
                                [checked]="row.status == 'Active'"
                                (click)="openDialog(template, row)"
                                matTooltip="change Status"
                        >
                        </mat-slide-toggle>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="noRecords" class="no-records">
                No Record's Found
            </div>
        </div>
        <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            showFirstLastButtons="true"
        >
        </mat-paginator>
    </mat-card-content>
</mat-card>

<!--</div>-->

<!-- Status Change Dialog-->
<ng-template #template>
    <h1 mat-dialog-title>Confirm</h1>
    <div mat-dialog-content>
        <p>Confirm to change status?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button  cdkFocusInitial (click)="changeRoleStatus()" color="warn">Change</button>
        <button mat-raised-button [mat-dialog-close]="" color="accent" (click)="cancel()">Cancel</button>
    </div>
</ng-template>

<!--Edit Role-->
<ng-template #editTemplate>
    <h1 mat-dialog-title>Edit Role</h1>
    <div mat-dialog-content>
        <form #editRoleForm="ngForm" (ngSubmit)="editRoleForm.form.valid && editRole(editRoleForm.value)">
            <div class="filter">
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Enter Role</mat-label>
                        <input type="role" name="name" #name="ngModel" [(ngModel)]="editRoleDialog.name" matInput placeholder="Enter Role"
                               required
                               minlength="3"
                        >
                        <mat-error *ngIf="editRoleForm.invalid && editRoleForm.controls.name.errors?.required">Please Enter Role</mat-error>
                        <mat-error *ngIf="editRoleForm.invalid && editRoleForm.controls.name.errors?.minlength">Role length should be min 3 cha.</mat-error>
                    </mat-form-field>
                    <input type="hidden" name="status" #status="ngModel" [(ngModel)]="editRoleDialog.status">
                </div>

                <div mat-dialog-actions>
                    <button type="submit" mat-raised-button  cdkFocusInitial color="warn"><mat-icon>save</mat-icon>Save</button>
                    <button mat-raised-button [mat-dialog-close]="" color="accent" (click)="cancel()"><mat-icon>close</mat-icon>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<!--Add New Role-->
<ng-template #addRole>
    <h1 mat-dialog-title>Edit Role</h1>
    <div mat-dialog-content>
        <form #addRoleForm="ngForm" (ngSubmit)="addRoleForm.form.valid && onSaveRole(addRoleForm.value)">
            <div class="filter">
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Enter Role</mat-label>
                        <input type="role" name="name" #name="ngModel" [(ngModel)]="roleName" matInput placeholder="Enter Role"
                               required
                               minlength="3"
                        >
                        <mat-error *ngIf="addRoleForm.invalid && addRoleForm.controls.name.errors?.required">Please Enter Role</mat-error>
                        <mat-error *ngIf="addRoleForm.invalid && addRoleForm.controls.name.errors?.minlength">Role length should be min 3 cha.</mat-error>
                    </mat-form-field>
                </div>

                <div mat-dialog-actions>
                    <button type="submit" mat-raised-button  cdkFocusInitial color="warn"><mat-icon>save</mat-icon>Save</button>
                    <button mat-raised-button [mat-dialog-close]="" color="accent" (click)="cancel()"><mat-icon>close</mat-icon>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>