<div *ngIf="spinner; loaded">
    <div id="overlay">
        <div id="preloader">
            <div id="loader"></div>
        </div>
    </div>
</div>

<!-- Listing Sub Admin-->
<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="over" position="end">
        <div class="filterForm">
            <h1 mat-dialog-title>Custom Filter</h1>
            <div mat-dialog-content>
                <form #filterForm="ngForm" (ngSubmit)="filterForm.form.valid && filterUser(filterForm.value)">
                    <mat-grid-list cols="2" rowHeight="3:1">
                        <div class="filter">
                            <div>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <mat-label>Full Name</mat-label>
                                        <input type="text" name="fullname" [(ngModel)]="filterFormDetails.fullname" matInput placeholder="Enter Full Name">
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <mat-label>Email</mat-label>
                                        <input type="email" name="email" [(ngModel)]="filterFormDetails.email" matInput placeholder="Enter Email">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </div>

                            <div>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <mat-label>Select Status</mat-label>
                                        <mat-select name="status" [(ngModel)]="status">
                                            <mat-option value="Active">Active</mat-option>
                                            <mat-option value="Inactive">Inactive</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile>
                                    <mat-form-field>
                                        <mat-label>Select Gender</mat-label>
                                        <mat-select name="gender" [(ngModel)]="filterFormDetails.gender">
                                            <mat-option value="Male">Male</mat-option>
                                            <mat-option value="Female">Female</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </div>
                            <div>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <mat-label>Phone Number</mat-label>
                                        <input type="text" name="phone_number" [(ngModel)]="filterFormDetails.phone_number" matInput placeholder="Enter Phone Number" maxlength="10">
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile></mat-grid-tile>
                            </div>
                            <div>
                                <mat-grid-tile>
                                    <button type="submit" mat-flat-button color="primary">Filter</button>
                                    <a [routerLink]="['/user/list']" class="addNewButton"><button mat-flat-button color="accent" (click)="resetForm(filterForm)"><mat-icon>refresh</mat-icon>Reset</button></a>
                                </mat-grid-tile>
                            </div>
                        </div>
                    </mat-grid-list>
                </form>
            </div>
        </div>
    </mat-drawer>
<mat-drawer-content>
<div>
    <mat-card #loaded>
        <mat-card-header>
            <h3 class="card-header-left">List Users</h3>
            <!-- Search & Filter Button-->
            <div class="card-header-right">
                <div>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
            </div>
            <div class="card-header-right">
                <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" matTooltip="Display Columns">
                    <mat-icon>filter_list</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <mat-selection-list name="displayedColumns" #displayedColum [(ngModel)]="displayedColumns" (ngModelChange)="removeColumn($event)">
                        <mat-list-option *ngFor="let displayCol of filterColumns" [(value)]="displayCol"  selected (click)="$event.stopPropagation()">
                            {{displayCol | uppercase}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-menu>
            </div>
            <div class="card-header-right"><button mat-flat-button color="primary" *ngxPermissionsOnly="['USER_CREATE', 'SUPER_ADMIN']" (click)="openAddNew()"><mat-icon>person_add</mat-icon>Add User</button></div>
            <div class="card-header-right"><button mat-flat-button color="warn" (click)="drawer.toggle()"><mat-icon>filter_hdr</mat-icon>Custom Filter</button></div>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content class="materialTable">
            <div class="table-text mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort *ngIf="!noRecords">

                    <!-- SrNo Column -->
                    <ng-container matColumnDef="Sr_No">
                        <th mat-header-cell *matHeaderCellDef> Sr No </th>
                        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
                    </ng-container>

                    <!-- Full Name Column -->
                    <ng-container matColumnDef="fullname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="fullname"> Full Name </th>
                        <td mat-cell *matCellDef="let row"><a [routerLink]="['/user/profile', row.id]" matTooltip="View Profile"> {{row.fullname}} </a></td>
                    </ng-container>

                    <!-- User Name Column -->
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="username"> User Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.username}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <!-- Gender -->
                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="gender"> Gender </th>
                        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
                    </ng-container>

                    <!-- Date Of Birth -->
                    <ng-container matColumnDef="date_of_birth">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="date_of_birth"> Date Of Birth </th>
                        <td mat-cell *matCellDef="let row"> {{row.date_of_birth}} </td>
                    </ng-container>

                    <!-- Phone Number -->
                    <ng-container matColumnDef="phone_number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="phone_number"> Phone Number </th>
                        <td mat-cell *matCellDef="let row"> {{row.phone_number}} </td>
                    </ng-container>

                    <!-- Registered At -->
                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="created_at"> Registered At </th>
                        <td mat-cell *matCellDef="let row"> {{row.created_at}} </td>
                    </ng-container>

                    <!-- Last Updated At -->
                    <ng-container matColumnDef="updated_at">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="updated_at"> Last Updated At </th>
                        <td mat-cell *matCellDef="let row"> {{row.updated_at}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Status </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button class="buttonActive" *ngIf="row.status == 'Active' ">{{ row.status }}</button>
                            <button mat-icon-button class="buttonInactive" *ngIf="row.status == 'Inactive' ">{{ row.status }}</button>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <button *ngxPermissionsOnly="['USER_VIEW', 'SUPER_ADMIN']" mat-button color="accent" matTooltip="See Profile" [routerLink]="['/user/profile/', row.id]"><mat-icon>remove_red_eye</mat-icon></button>
                            <button *ngxPermissionsOnly="['USER_UPDATE', 'SUPER_ADMIN']" mat-button color="warn" matTooltip="Edit" [routerLink]="['/user/edit/', row.id]"><mat-icon>edit</mat-icon></button>
                            <button *ngxPermissionsOnly="['USER_CHANGE_PASSWORD', 'SUPER_ADMIN']" mat-button color="primary" matTooltip="change Password" (click)="openchangePassword(changePass, row)"><mat-icon>vpn_key</mat-icon></button>
                            <mat-slide-toggle
                                    *ngxPermissionsOnly="['USER_STATUS', 'SUPER_ADMIN']"
                                    [checked]="row.status == 'Active'"
                                    (click)="openDialog(template, row)"
                                    matTooltip="change Status"
                            >
                            </mat-slide-toggle>
                            <button *ngxPermissionsOnly="['USER_DELETE', 'SUPER_ADMIN']" mat-button color="warn" matTooltip="Delete" (click)="openDeleteDialog(deleteUser, row)"><mat-icon>delete</mat-icon></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="noRecords" class="no-records">
                    No Record's Found
                </div>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                           showFirstLastButtons="true"
                           [length]="totalNoRecord"
                           (page)="onPagination($event)"
            >
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
</mat-drawer-content>

<!-- Status Change Dialog-->
<ng-template #template>
    <h1 mat-dialog-title>Confirm</h1>
    <div mat-dialog-content>
        <p>Confirm to change status?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button  cdkFocusInitial (click)="changeUserStatus()" color="warn">Change</button>
        <button mat-raised-button [mat-dialog-close]="" color="accent" (click)="cancel()">Cancel</button>
    </div>
</ng-template>

<!-- Password Change Dialog-->
<ng-template #changePass>
    <h1 mat-dialog-title>Change Password</h1>
    <div mat-dialog-content>
        <form #changePassword="ngForm" (ngSubmit)="changePassword.form.valid && newPassword(changePassword.value)" [mustMatch]="['password', 'confirmPassword']">
            <div class="filter">
                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Enter Password</mat-label>
                        <input type="password" name="password" #password="ngModel" [ngModel]="pass" matInput placeholder="Enter Password"
                               required
                               minlength="6"
                               pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#$%])(?=[^^&*()_\+]*$).{6,}"
                        >
                        <mat-error *ngIf="changePassword.invalid && changePassword.controls.password.errors?.required">Please Enter Password</mat-error>
                        <mat-error *ngIf="changePassword.invalid && changePassword.controls.password.errors?.minlength">Password length should be min 6 cha.</mat-error>
                        <mat-error *ngIf="changePassword.invalid && changePassword.controls.password.errors?.pattern">Password Contain a One Small and Capital And number and special character not Contain ^&*()_+</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="standard">
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" name="confirmPassword" #confirmPassword="ngModel" [ngModel]="conPass" matInput placeholder="Enter Confirm Password"
                               required
                               minlength="6"
                               pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[!@#$%])(?=[^^&*()_\+]*$).{6,}"
                        >
                        <mat-error *ngIf="changePassword.invalid && changePassword.controls.confirmPassword.errors?.required">Please Enter Confirm Password</mat-error>
                        <mat-error *ngIf="changePassword.invalid && changePassword.controls.confirmPassword.errors?.minlength">Confirm Password length should be min 6 cha.</mat-error>
                        <mat-error *ngIf="changePassword.invalid && changePassword.controls.confirmPassword.errors?.pattern">Confirm Password should match with password</mat-error>
                    </mat-form-field>
                </div>
                <div mat-dialog-actions>
                    <button type="submit" mat-raised-button  cdkFocusInitial color="warn">Change Password</button>
                    <button mat-raised-button [mat-dialog-close]="" color="accent" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<!-- Delete Sub Admin Dialog-->
<ng-template #deleteUser>
    <h1 mat-dialog-title>Confirm</h1>
    <div mat-dialog-content>
        <p>Are You Sure to Delete?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button  cdkFocusInitial (click)="deleteUserbyId()" color="warn">Delete</button>
        <button mat-raised-button [mat-dialog-close]="" color="accent" (click)="cancel">Cancel</button>
    </div>
</ng-template>
