@import "../../../../assets/Constant";
.mat-form-field{
  width: 95%;
}
.mat-button{
  line-height: normal;
  min-width: 15%;
  padding: 1%;
}
.example-container {
  width: 95%;
  margin: 2%;
}
mat-drawer{
  width: 50%;
}
.filterForm{
  margin: 2%;
}