@import "../../../../assets/Constant";
.mat-form-field{
  width: 95%;
}
.mat-button{
  line-height: normal;
  min-width: 15%;
  padding: 1%;
}
.example-container {
  width: 95%;
  margin: 2%;
  mat-drawer{
    width: 50%;
    height: 100%;
    padding-top: 8%;
    background-color: #e4e5e6;
  }
}
.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}
/deep/ .mat-drawer-backdrop.mat-drawer-shown{
  position: fixed !important;
}
.content{
  min-width: 100%!important;
}
.filterForm{
  margin: 2%;
}