@import "../../../assets/Constant";
mat-card{
  top:25%;
  bottom: 25%;
  left: 25%;
  right:30%;
  position : fixed;
  text-align: center;
  width: 40%;
  height: 45%;
}
mat-card-content{
  mat-form-field{
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
.md-button {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  min-width: 70%;
}

.forgotLink{
  color: $linkColor;
  margin-left: 10%;
  float: left;
}