<div *ngIf="spinner; loaded">
    <div id="overlay">
        <div id="preloader">
            <div id="loader"></div>
        </div>
    </div>
</div>

<!-- Listing Sub Admin-->
<div>
    <mat-card #loaded>
        <mat-card-header>
            <h3 class="card-header-left">List Category Tree View</h3>
            <div class="card-header-right"><a [routerLink]="['/category/list']" class="addNewButton"><button mat-flat-button color="primary">Category List</button></a></div>
        </mat-card-header>
    </mat-card>
</div>

<div>
    <mat-card>
        <mat-card-content>
            <tree-root  (moveNode)="onMoveNode($event)" [nodes]="treeViewData" [options]="options">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <span>{{ node.data.title }}</span>
                    <a class="pull-right" routerLink="/category/edit/{{node.data.id}}"><button mat-flat-button class="editButtonRight" color="warn">Edit</button></a>
                </ng-template>
            </tree-root>
        </mat-card-content>
    </mat-card>
</div>