<div *ngIf="spinner; loaded">
    <div id="overlay">
        <div id="preloader">
            <div id="loader"></div>
        </div>
    </div>
</div>

<!-- Listing CMS -->
<div>
    <mat-card #loaded>
        <mat-card-header>
            <mat-card-title>
                <h4>List CMS</h4>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="materialTable">
            <a [routerLink]="['/cmsmanagement/add']" class="addNewButton"><button mat-flat-button color="primary">Add CMS</button></a>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <div class="table-text mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- Sr No Column -->
                    <ng-container matColumnDef="SrNo">
                        <th mat-header-cell *matHeaderCellDef> Sr No </th>
                        <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1}} </td>
                    </ng-container>

                    <!-- Page Title Column -->
                    <ng-container matColumnDef="page_title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="page_title"> Page Title </th>
                        <td mat-cell *matCellDef="let row"> {{row.page_title}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="Status"> Status </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-fab color="primary" *ngIf="row.status == 'Active' ">{{ row.status }}</button>
                            <button mat-fab color="warn" *ngIf="row.status == 'Inactive' ">{{ row.status }}</button>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-button color="warn" [routerLink]="['/cmsmanagement/edit/', row.id]"><mat-icon>edit</mat-icon></button>
                            <mat-slide-toggle
                                    [color]="accent"
                                    [checked]="row.status == 'Active'"
                                    [disabled]="disabled"
                                    (click)="openDialog(template, row)"
                            >
                            </mat-slide-toggle>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- Status Change Dialog-->
<ng-template #template>
    <h1 mat-dialog-title>Confirm</h1>
    <div mat-dialog-content>
        <p>Confirm to change status?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="" color="accent">Cancel</button>
        <button mat-raised-button  cdkFocusInitial (click)="changeStatus()" color="warn">Change</button>
    </div>
</ng-template>