<div *ngIf="spinner; loaded">
    <div id="overlay">
        <div id="preloader">
            <div id="loader"></div>
        </div>
    </div>
</div>

<!-- Listing Sub Admin-->
<div>
    <mat-card #loaded>
        <mat-card-header>
            <h3 class="card-header-left">List Category</h3>
            <div class="card-header-right">
                <div>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                </div>
            </div>
            <div class="card-header-right">
                <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" matTooltip="Display Columns">
                    <mat-icon>filter_list</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <mat-selection-list name="displayedColumns" #displayedColum [(ngModel)]="displayedColumns" (ngModelChange)="removeColumn($event)">
                        <mat-list-option *ngFor="let displayCol of filterColumns" [(value)]="displayCol"  selected (click)="$event.stopPropagation()">
                            {{displayCol |uppercase}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-menu>
            </div>
            <div class="card-header-right"><a *ngxPermissionsOnly="['CATEGORY_TREEVIEW', 'SUPER_ADMIN']" [routerLink]="['/category/treeview']" class="addNewButton"><button mat-flat-button color="primary"><mat-icon>format_strikethrough</mat-icon>Tree View Category</button></a></div>
            <div class="card-header-right"><button mat-flat-button color="primary" *ngxPermissionsOnly="['CATEGORY_CREATE', 'SUPER_ADMIN']" (click)="openAddNew()"><mat-icon>add</mat-icon>Add Category</button></div>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="materialTable">

            <!-- Search & Filter Button-->

            <div class="table-text mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- Sr No Column -->
                    <ng-container matColumnDef="Sr_No">
                        <th mat-header-cell *matHeaderCellDef> Sr No </th>
                        <td mat-cell *matCellDef="let row; let i = index"> {{ i+1 }} </td>
                    </ng-container>

                    <!-- Category Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Category Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <!-- Parent Category Name Column -->
                    <ng-container matColumnDef="parent_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="parent_name"> Parent Category </th>
                        <td mat-cell *matCellDef="let row"> {{row.parent_name}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Status </th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-icon-button class="buttonActive" *ngIf="row.status == 'Active' ">{{ row.status }}</button>
                            <button mat-icon-button class="buttonInactive" *ngIf="row.status == 'Inactive' ">{{ row.status }}</button>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let row">
                            <button *ngxPermissionsOnly="['CATEGORY_UPDATE', 'SUPER_ADMIN']" mat-button color="warn" matTooltip="Edit" [routerLink]="['/category/edit/', row.id]"><mat-icon>edit</mat-icon></button>
                            <mat-slide-toggle
                                    *ngxPermissionsOnly="['CATEGORY_STATUS', 'SUPER_ADMIN']"
                                    [checked]="row.status == 'Active'"
                                    (click)="openDialog(template, row)"
                                    matTooltip="change Status"
                            >
                            </mat-slide-toggle>
                            <button *ngxPermissionsOnly="['CATEGORY_DELETE', 'SUPER_ADMIN']" mat-button color="warn" matTooltip="Delete" (click)="openDeleteDialog(deleteUser, row)"><mat-icon>delete</mat-icon></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div *ngIf="noRecords" class="no-records">
                    No Record's Found
                </div>
            </div>
            <mat-paginator class="pagination" [pageSizeOptions]="[5, 10, 25, 100]"
                           showFirstLastButtons="true"
            >
            </mat-paginator>
        </mat-card-content>
    </mat-card>
</div>

<!-- Status Change Dialog-->
<ng-template #template>
    <h1 mat-dialog-title>Confirm</h1>
    <div mat-dialog-content>
        <p>Confirm to change status?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button  cdkFocusInitial (click)="changeCategoryStatus()" color="warn">Change</button>
        <button mat-raised-button [mat-dialog-close]="" color="accent" (click)="cancel()">Cancel</button>
    </div>
</ng-template>

<!-- Delete Sub Admin Dialog-->
<ng-template #deleteUser>
    <h1 mat-dialog-title>Confirm</h1>
    <div mat-dialog-content>
        <p>Are You Sure to Delete?</p>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button  cdkFocusInitial (click)="deleteCategorybyId()" color="warn">Delete</button>
        <button mat-raised-button [mat-dialog-close]="" color="accent" (click)="cancel()">Cancel</button>
    </div>
</ng-template>