<mat-grid-list cols="3" rowHeight="2:1">

    <mat-grid-tile>
        <mat-card class="primary">
            <mat-card-header>
                <mat-card-title>Total Admin</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h2>113</h2>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card class="secondary">
            <mat-card-header>
                <mat-card-title>Total User</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h2>137</h2>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>


    <mat-grid-tile>
        <mat-card class="third">
            <mat-card-header>
                <mat-card-title>Total Super Admin</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h2>2</h2>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
