.primary{
    background-color: #614051;
}
.secondary{
    background-color: #aaba6f;
}
.third{
    background-color: #d8cbcf;
}

mat-card-content{
    text-align: center;
}
.mat-card{
    width: 100%;
}
