@import "../../../assets/Constant";
.content {
  min-height: 100%;
}
.sidenav {
  width: 15%;
}
:host /deep/ .mat-list-item-content {
  padding: 0!important;
}
:host /deep/ .mat-list-item-content .mat-list-text {
  padding: 0!important;
}
.mat-toolbar.mat-primary {
  top: 0;
  z-index: 998;
}
.sidenav-container {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/*Side Bar Name Wrap*/
.mat-line{
  //word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
@media (max-width: 600px) {
  .sidenav{

  }
}
.active{
  border-bottom: 2px solid black;
  border-top: 2px solid coral;
  //border-radius: 50px 20px;
}
.header{
  top: 0;
  position: sticky;
  height: 64px;
  .mat-icon-button{
    flex: 0;
  }
}
.mat-spacer{
  flex: 1;
}
.mat-drawer-content{
  background-color: #DCDCDC;
}

.footer{
  width: 100%;
  height: 30px;
  padding-left: 18%;
  background: #673ab7;
  padding: 10px 0;
  color: black;
  bottom: 0;
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
}
.footer-left{
  float:left;
  padding-left:10px;
}
.footer-right{
  float:right;
  padding-right:10px;
}