<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" mode="side" opened="true" fixedInViewport="true">
        <mat-toolbar color="primary" class="mat-spacer">Brainvire</mat-toolbar>
        <div>
        <mat-nav-list>

            <mat-list-item>
                <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
                    <mat-icon mat-list-icon>home</mat-icon>
                    <p mat-line>Dashboard</p>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item *ngxPermissionsOnly="['SUB_ADMIN_LIST', 'SUPER_ADMIN']" [routerLink]="['/subadmin/list']" routerLinkActive="active">
                    <mat-icon mat-list-icon>person</mat-icon>
                    <p mat-line>Manage sub Admin</p>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item *ngxPermissionsOnly="['USER_LIST', 'SUPER_ADMIN']" [routerLink]="['/user/list']" routerLinkActive="active">
                    <mat-icon mat-list-icon>person</mat-icon>
                    <p mat-line>Manage User</p>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item *ngxPermissionsOnly="['CMS_LIST', 'SUPER_ADMIN']" [routerLink]="['/cmsmanagement/list']" routerLinkActive="active">
                    <mat-icon mat-list-icon>inbox</mat-icon>
                    <p mat-line>CMS Management</p>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item *ngxPermissionsOnly="['CATEGORY_LIST', 'SUPER_ADMIN']" [routerLink]="['/category/list']" routerLinkActive="active">
                    <mat-icon mat-list-icon>list</mat-icon>
                    <p mat-line>Manage Category</p>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item *ngxPermissionsOnly="['EMAIL_TEMP_LIST', 'SUPER_ADMIN']" [routerLink]="['/emailtemplate/list']" routerLinkActive="active">
                    <mat-icon mat-list-icon>email</mat-icon>
                    <p mat-line>Email Template</p>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item *ngxPermissionsOnly="['FAQ_LIST', 'SUPER_ADMIN']" [routerLink]="['/faq/list']" routerLinkActive="active">
                    <mat-icon mat-list-icon>help_outline</mat-icon>
                    <p mat-line>FAQ Management</p>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item *ngxPermissionsOnly="['SUPER_ADMIN']" [routerLink]="['/rolepermission']" routerLinkActive="active">
                    <mat-icon mat-list-icon>https</mat-icon>
                    <p mat-line>Role Permission</p>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-list-item *ngxPermissionsOnly="['CONFIG_LIST','SUPER_ADMIN']" [routerLink]="['/settings']" routerLinkActive="active">
                    <mat-icon mat-list-icon>settings</mat-icon>
                    <p mat-line>Settings</p>
                </a>
            </mat-list-item>

        </mat-nav-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="header">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span class="mat-spacer"></span>
            <span>
                <button mat-button [matMenuTriggerFor]="menu">{{ userName }} <mat-icon>keyboard_arrow_down</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/profile']"><mat-icon>person</mat-icon>Profile</button>
                    <button mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon>Logout</button>
                </mat-menu>
            </span>
        </mat-toolbar>
        <div class="content">
            <div>
                <xng-breadcrumb>

                </xng-breadcrumb>
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="footer">
            <div class="footer-left"><a [routerLink]="['/dashboard']">Base Structure Theme</a></div>
            <div class="footer-right">Powered By <a href="https://www.brainvire.com/" target="_blank">Brainvire Info Tech.</a></div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
