<div class="wrapper row2">
    <div id="container" class="clear">

        <section id="fof" class="clear">
        <div class="hgroup">
            <h1><span><strong class="mat-elevation-z20">4</strong></span><span><strong class="mat-elevation-z20"><mat-icon>mood_bad</mat-icon></strong></span><span><strong class="mat-elevation-z20">4</strong></span></h1>
            <h2>Error ! <span>Page Not Found</span></h2>
        </div>
        <p>!Oops Your Requested URL Page Is Not Found</p>
        <p><button mat-flat-button color="warn" [routerLink]="['/dashboard']">Go To Dashboard</button></p>
        </section>
    </div>
</div>