$backcolor: #DCDCDC;
$switchActive: #4dff4d;
$filterButtonColor: #00acc1;
$primary: #009999;
$linkColor: #8B668B;
$footerColor: #fff;
$activeColor: #7CB342;
$inActiveColor: #7E191B;
$addButtonColor: linear-gradient(to right, #614385, #516395);
$primaryButton: #009999;
$warnButton: #7E191B;
$accentButton: #FCE205;
$sidebarColor: linear-gradient(to right, #8E2DE2, #4A00E0);
$headerColor: linear-gradient(to right, #0F2027, #203A43, #2C5364);
$buttonHover: #666a6d;
$flatWarnButton: linear-gradient(to right, #ec008c, #fc6767);
$flatAccentButton: linear-gradient(to right, #fc4a1a, #f7b733);
$cardHeaderBackColor: linear-gradient(#e7f5fe, #f3fafe);
$displayColumnsButton: radial-gradient(#614385, #516395);
