/* You can add global styles to this file, and also import other style files */
@import "assets/Constant";
@import '~angular-tree-component/dist/angular-tree-component.css';
body{
  background-color: #DCDCDC;
}

/* Spinner */
#overlay{
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.backcolor{
  background-color: #e4e5e6;
}
/*Spinner Over*/

/* Navbar Color Change*/
/*
.mat-toolbar.mat-primary{
  background: $headerColor;
}
*/


/* Globally */
.mat-card{
  margin: 2%;
}
.mat-card-content{
  padding-top: 10px!important;
}

.xng-breadcrumb-list{
    background: $footerColor;
    height: 50px;
}
.xng-breadcrumb-item{
  padding-left: 10px;
}

/* Card Add New Button*/
.addNewButton{
  float: right;
  margin-left: 2%;
}
//.mat-card-header{
//  background: $cardHeaderBackColor;
//}
.mat-card-header-text{
  margin: 0 !important;
}
/* card Header Align Button Right Side*/
.card-header-right{
  align-self: center;
  margin-right: 4px;
  justify-content: center !important;
}
/* card Header Align Button Left Side*/
.card-header-left{
  width: 100%;
  justify-content: flex-start !important;
}
.mat-divider-horizontal{
  margin-bottom: 2px;
}

/* Material Table */
.materialTable{
  table {
    min-width: 100%;
    overflow: auto;
  }
  th{
    min-width: 150px;
    color: black;
    font-weight: bold;
    font-size: 15px;
  }
  th.mat-header-cell{
    padding-left: 5px !important;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .table-text{
    width: 100%;
    overflow-x: auto;
  }

  td {
    min-width: 150px;
    padding-left: 5px !important;
    border: 1px solid #DCDCDC;
    a {
      text-decoration-style: dotted;
      color: $linkColor;
    }
  }
  .mat-form-field-infix{
    min-width: 100%;
  }
  .mat-button.mat-warn, .mat-icon-button.mat-warn, .mat-stroked-button.mat-warn{
    min-width: auto !important;
  }
}
.mat-paginator-container{
  overflow: hidden;
}

/* Right Side Align In Row*/
.search{
  display: flex;
  padding-top: 5px;
  flex-direction: row;
  justify-content: flex-end;
  .mat-mini-fab.mat-primary{
    background: $displayColumnsButton;
  }

}
.mat-pseudo-checkbox-checked::after{
  color: black !important;
}

/* Form Field*/
.mat-form-field{
  width: 90%;
}


/* Filter Search Button And Card Input Filed */
.filter{
  .mat-grid-tile, .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
  }
  .mat-flat-button,.primary{
    background-color: $filterButtonColor;
  }
}

/* Dialog Box*/
.mat-dialog-content{
  overflow: initial !important;
}

/* Raised Button Hover*/
.mat-raised-button:hover{
  background-color: $buttonHover;
}

/* Select Image*/
.selectImage{
  .chooseImage{
    background-image: url("./assets/Image/user-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    color: $backcolor;
    width: 250px;
    height: 170px !important;
    border: 1px dashed grey;
  }
  .imagecropper{
    color: $backcolor;
    width: 250px;
    height: 170px !important;
    border: 1px dashed grey;
  }
  .browse{
    opacity: 0;
    width: 250px;
    height: 170px !important;
  }
}

.userProfileGrid{
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 33% 67%; // two columns
  grid-template-rows: 33% 67%; // two rows
  height: 100%;
  width: 100%;

  .css-grid-tile {
    &.top-left {
      font-weight: bolder;
      grid-column: 1 / 2;
    }

    &.top-right {
      grid-column: 2 / 3;
    }

    &.bottom {
      grid-column: 1 / 3;
    }
  }
}

/* Listing Action Button */
.mat-icon-button {
  width: 15% !important;
}
.buttonActive{
  color: $activeColor !important;
}
.buttonInactive{
  color: $inActiveColor !important;
}
/* // Listing Acting Button Over*/



/* Primary Color button*/
.mat-flat-button.mat-primary{
  background: $addButtonColor;

}
.mat-flat-button:hover{
  background: $buttonHover;
  color: black;
}

.mat-button.mat-primary{
  color: $primaryButton;
}

/* Warn Color Button*/
.mat-button.mat-warn{
  color: $warnButton;
}

.mat-flat-button.mat-warn{
  background: $flatWarnButton;
}

/*Assent Color Button*/
.mat-button.mat-accent{
  color: $accentButton;
}

.mat-flat-button.mat-accent{
  background: $flatAccentButton;
}
.mat-flat-button:hover{
  background: $buttonHover;
  color: white;
}

.mat-card:not([class*=mat-elevation-z]){
  box-shadow: none!important;
}